.menu {
  margin-top: 86px;
}

.menu__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: fit-content;
}

.menu__menu-list li {
  position: relative;
}

.menu__menu-list a {
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 18px 0 18px 18px;
  width: 270px;
}

.menu__menu-list svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
