* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  min-width: 100%;
}

body {
  background: #141623;
  color: #fff;
  font-family: Helvetica;
}

main {
  background: #141623;
}

a {
  display: block;
}
